.btn {
    background-color: var(--app-contrast-bg);
    border: none;
    outline: none;
    padding: 8px 16px;
    color: var(--text-contrast-color);
    border-radius: 12px;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
    height: 100%;
}
@media screen and (max-width: 780px) {
    .btn {
        font-size: 20px;
        height: 80%;
    }
}
@media screen and (max-width: 440px) {
    .btn {
        font-size: 16px;
        height: 70%;
    }
}
@media screen and (max-width: 380px) {
    .btn {
        font-size: 14px;
        height: 70%;
    }
}
