.container {
    width: 100%;
    background-color: var(--gray-color-3);
    padding: 16px;
    border-radius: 8px;
    transition: 300ms all ease;

    &:hover {
        background-color: var(--text-link-color);
        color: var(--text-contrast-color);
    }
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    width: 60%;
    p {
        width: 100%;
    }
}
.info {
    display: flex;
    flex-direction: column;
}
