.container {
    width: 100%;
    background-color: var(--gray-color-3);
    padding: 16px;
    border-radius: 8px;
    transition: 300ms all ease;

    &:hover {
        background-color: var(--text-link-color);
        color: var(--text-contrast-color);
    }
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    width: 60%;
    p {
        width: 100%;
    }
}
.info {
    display: flex;
    flex-direction: column;
}
.container__skeleton {
    width: 100%;
    background-color: var(--gray-color-3);
    padding: 16px;
    border-radius: 8px;
    transition: 300ms all ease;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        height: 150%;
        width: 0px;
        background-color: var(--text-contrast-color);
        box-shadow: 0px 0px 20px 10px var(--text-contrast-color);
        animation: ease loading 2000ms infinite;
    }
}
@keyframes loading {
    0% {
        left: -20%;
    }
    100% {
        left: 120%;
    }
}
