.Header {
    //цвета
}

.Nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.Logo {
    //perepelochki
}

.Logout {
    //pidorasiki
}