.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 8px;
    background-color: var(--element-bg);
    border-radius: 16px;
}
.content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
