.main {
    background-color: var(--primary-light-color);
    font-size: 12px;
    font-weight: 600;
    width: 220px;
    height: 80px;
    padding: 10;
    color: var(--text-contrast-color);
    border: 1px solid var(--gray-color-7);
    border-radius: 8px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic {
    background-color: var(--element-bg);
    font-size: 10px;
    font-weight: 400;
    width: 180px;
    overflow: auto;
    height: 60px;
    padding: 10px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 8px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms ease all;
}
.selected {
    background-color: var(--element-bg-contrast);
    color: var(--text-contrast-color);
}
