.container {
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    background-color: var(--element-bg-2);
    border-radius: 16px;
}
.pageContainer {
}
.layout {
    font-size: 26px;
    text-align: center;
    font-weight: 600;

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 3;
}
.roadmap {
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid;
    border-right: 1px solid;
    border-color: var(--divider-color);
    transition: ease 500ms all;
    position: relative;
    z-index: 2;

    &:hover {
        border-color: var(--text-link-color);
    }
}
.chat {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid;
    border-left: 1px solid;
    border-color: var(--divider-color);
    transition: ease 500ms all;
    display: flex;
    flex-direction: column;

    &:hover {
        border-color: var(--text-link-color);
    }
}
